spring:
  datasource:
    url: jdbc:sqlite:todo.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: never

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus

